h1{
    text-align: center;
    border: 5px solid #F7DD7D;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
   
}

.header,.recipes{
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
    color: #F7DD7D;;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    background-color: #F7DD7D;
    color: #406AAF;
}

body{
    background-color: #406AAF;
}