h1, h2, div{
    text-align: center;
}

h1, h2, a{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #F7DD7D;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

ul,ol, .description p{
    display: inline-block;
    text-align: left;
}

body{
    background-color: #406AAF;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #F7DD7D;
    font-weight: bold;
    font-size: 23px;
    padding: 2px;
    border-radius: 3px;
    
}

a:hover{
    background-color:#F7DD7D;
    color: #406AAF;
}